 
 {% load static %}
 <div id="answer-{{ answer.id }}" class="container" style="max-width: 500">
    <div class="d-flex w-100 flex-column gap-3">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex flex-column">
            <img
              {% if answer.author.profile.avatar %}
                  src="{{ answer.author.profile.avatar.url }}"
              {% else %}
                  src="{% static '/img/cat.png' %}" 
              {% endif %}
              c
            />



            <div class="answer-like-section d-flex justify-content-center align-items-center gap-1">
              <div 
                  class="border rounded px-2 py-1 d-flex justify-content-center align-items-center"
                  style="min-width: 1.5rem; height: 1.8rem; font-size: 0.875rem;"
              >
                  <span id="likeCount">{{ answer.likeCount }}</span>
              </div>
          
              <button 
                  id="upButton" 
                  class="btn btn-success btn-sm" 
                  data-id="{{ answer.id }}"
              >&#128077;</button>
          </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">
                {{ answer.text }}
              </p>
              <small class="text-muted">{{ answer.created_at }}</small>

              <div class="question-check-section container mt-3 gap-1">
                <button class="btn btn-checkbox">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkButton"
                    data-id="{{answer.id}}"
                    {% if answer.is_correct %}checked{% endif %}
                    {% if not is_author %}disabled{% endif %}  
                  />
                  <label class="form-check-label" for="checkButton">Correct!</label>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>