{% extends 'layout/base.html' %} 
{% load static %}
{% load bootstrap5 %}

{% block add-style %}
<style>
  hr.custom-hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
{% endblock %} 


{% block title-of-body%} {% endblock %}



{% block content %}
<div class="d-flex flex-column">
  {% include 'component/question-item-no-limit.html' with question=question%}

  <hr class="custom-hr" />
  {% for answer in page_answers %} 
    {% include 'component/answer-item.html' with answer=answer %}  
  {% endfor %}
  
  {% include 'component/pagination-item.html' with page_obj=page_answers %}

  <hr class="custom-hr" />
  
  {% if user.is_authenticated %}
  <form action="{% url 'question' question_id=question.id %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">Answer</button>
    {% endbuttons %}
 </form>
  {% else %}
   <p>Для того чтобы ответить, вам нужно <a href="{% url 'login' %}?next={{ request.get_full_path }}">войти</a>.</p>
  {% endif %}

</div>
{% endblock %}

