{% extends 'layout/base.html' %} 
{% load static %}

{% block add-style %}
<style>
  hr.custom-hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
{% endblock %} 


{% block my-page-no-pic%} {% endblock %} 
{% block title-of-body%} {% endblock %}



{% block content %}
<div class="d-flex flex-column">
  {% include 'component/question-item.html' with question=question%}

  <hr class="custom-hr" />
  {% for answer in page_answers %} 
    {% include 'component/answer-item.html' with answer=answer %}  
  {% endfor %}
  
  {% include 'component/pagination-item.html' with page_obj=page_answers %}

  <hr class="custom-hr" />

 {% with  placeholder="Your answer here" %}
    {% include 'component/text-area-item.html' with input_placeholder=placeholder %}
 {% endwith %}

{% with name="Answer" link="home" %}
    {% include 'component/button-item.html' with unput_name=name input_link=link %}
{% endwith %}

</div>
{% endblock %}

