{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block my-page-pic %}{% endblock %}

{% block title-of-body%} 
<h1>Registration</h1>
{% endblock %}
      

{% block content %}

<div class="d-flex flex-column">
    <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %} 








