{% extends 'layout/base.html' %}
{% load static %}

{% block my-page-no-pic %}{% endblock %}

{% block title-of-body%} 
<h1>Settings: Account Nick</h1>
{% endblock %}
      

{% block content %}
<div class="d-flex flex-column">

{% with type="text" name="Login" placeholder="your login" %}
    {% include 'component/input-item.html' with input_type=type input_name=name input_placeholder=placeholder %}
{% endwith %}

{% with type="text" name="Email" placeholder="email@gmail.com" %}
    {% include 'component/input-item.html' with input_type=type input_name=name input_placeholder=placeholder %}
{% endwith %}



{% with type="text" name="Nickname" placeholder="your nickname" %}
    {% include 'component/input-item.html' with input_type=type input_name=name input_placeholder=placeholder %}
{% endwith %}

{% include 'component/png-input-item.html' %}

{% with name="Save" link="home" %}
    {% include 'component/button-item.html' with unput_name=name input_link=link %}
{% endwith %}

</div>
{% endblock %} 





